@import '@blueprintjs/core/lib/scss/variables.scss';

$border-color: #666;
$primary-color:$dark-gray1;
$secondary-color: $dark-gray3;
html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  .logo {
    width: 40px;
  }
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: $pt-navbar-height 1fr 60px;
  grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  height: 100vh;
}

header {
  grid-area: header;
  background-color: $secondary-color;
  padding: 0px;
  text-align: center;
  border-bottom: solid 1px $border-color;
}

aside {
  grid-area: sidebar;
  background-color: $secondary-color;
  overflow: auto;
  padding: 0px;
  border-right: solid 1px $border-color;
}

main {
  grid-area: main;
  padding: 20px;
  overflow: auto;
}

footer {
  grid-area: footer;
  background-color: $secondary-color;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top: solid 1px $border-color;
}